<div>
    <h1>Hola, este es un formato especial de e-mail</h1>
    <h2>Utilizamos una plantilla de Express Handlebars</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis commodi labore doloribus nobis et quibusdam mollitia expedita, a quam totam perspiciatis numquam dicta aspernatur id iusto ut minima nesciunt animi!</p>
    <strong>escribime a firulais@gmail.com</strong>
</div>