<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <!-- Aquí colocamos el logo de la tienda -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7BFZVxXtN1sDOO5J0qC_yJxWYxiBg0r7i9cB79T6J-g&s" alt="Logo de la tienda">

        <a href="/api/users/profile">Mi perfil</a>
      
    </header>
    {{{body}}}
</body>
</html>