<h1>Hola Comisión, feliz semana!!</h1>
<h2>Mi nombre es {{usuario.nombre}} </h2>
<h2>Mi apellido es {{usuario.apellido}} </h2>

{{!-- Usamos condicionales --}}

{{#if usuario.mayorEdad}}
    <p> Es mayor de edad </p>

{{else}}
    <p> Es menor de edad </p>
{{/if}}

{{>card}}

<script src="js/index.js"></script>